<button class="btn btn-primary btn-block" (click)="creatingApplication = true">New Application</button>
<clr-wizard
  #wizard
  [(clrWizardOpen)]="creatingApplication"
  (clrWizardOnCancel)="resetWizard()"
  (clrWizardOnFinish)="createApplication('a', 'b', 'c')"
  clrWizardSize="lg"
>
  <clr-wizard-title>New Application</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'" >Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="blank(appName.value)">
    <ng-template clrPageTitle>Application Name</ng-template>
    <input #appName (keyup)="updateModel('name', appName.value)" type="text" placeholder="Application Name">
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="blank(appVersion.value)">
    <ng-template clrPageTitle>Version Information</ng-template>
    <input #appVersion (keyup)="updateModel('version', appVersion.value)" type="text" placeholder="Latest Version Number">
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="blank(appDownload.value)">
    <ng-template clrPageTitle>Download Link</ng-template>
    <input #appDownload (keyup)="updateModel('download', appDownload.value)" type="text" placeholder="Download URL">
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Additional Properties</ng-template>
      <input #propName type="text" placeholder="field">
      <br>
      <input #propValue type="text" placeholder="value">
      <br>
      <button (click)="updateAdditionalInfo(propName.value, propValue.value)" class="btn primary">
        <clr-icon shape="plus"></clr-icon> Field
      </button>
    
      <div *ngIf="additionalPropertiesExist()">
        <p>Properties</p>
        <div *ngFor="let prop of model.additionalInfo | keyvalue">
          <p>{{prop.key}}: {{prop.value}}</p>
          <button class="btn btn-danger" (click)="removeAdditionalInfo(prop.key, prop.value)">
            <clr-icon shape="minus"></clr-icon> Field
          </button>
        </div>
      </div>
  </clr-wizard-page>
</clr-wizard>