th, td {
  width: 50%;
}

table {
  border: solid;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.brand {
  width: 55px;
  height: 55px;
}

.marg {
  margin: 10px;
}

h5 {
  color: black;
}

.center {
  text-align: center;
}